<%- include ../partials/header.ejs %>
<%- include ../partials/sidebar.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/flash.ejs %>

<br>


<div class="admin-dashone-data-table-area mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="sparkline8-list shadow-reset">
          <div class="sparkline8-hd">
            <div class="main-sparkline8-hd">
              <h1>  <%=_venue.dataValues.name%>'s Orders By Date</h1>
              <div class="sparkline8-outline-icon">
                <!-- <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span> -->
                <!-- <a href="/product" class="btn btn-white btn-xs">+ Add Product</a> -->
              </div>
            </div>
          </div>

          <div class="sparkline8-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
              <div id="toolbar">
                <!-- <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select> -->
              </div>
              <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true"
                data-show-pagination-switch="true" data-show-refresh="false" data-key-events="true"
                data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId"
                data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                <thead>
                  <tr>
                    <th data-field="ID">Sr. No.</th>
                    <th data-field="order_date" data-editable="false">Order Date</th>
                    <th data-field="amount_collected" data-editable="false"> Amount Collected <br> (in $)</th>
                    <th data-field="action" data-editable="false">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% 
                                    if(response && response.length>0){
                                    for(var i in response){
                                    %>
                  <td>
                    <%= parseInt(i)+1%>
                  </td>
                  <td>
                    <%=response[i].dataValues.date ? response[i].dataValues.date : ''%>
                  </td>
                  <td>
                      <%=response[i].dataValues.total_amount ? response[i].dataValues.total_amount.toFixed(2) : 0%>
                    </td>
                  <td>
                      <div class="btn-group project-list-action">
                          <a href="/get_sale_data_by_date?timestamp=<%=response[i].dataValues.date%>&venue_id=<%=response[i].venue_id%>" class="btn btn-white btn-xs">View Sale Data</a>
                        </div>
                    </td>
                  </tr>
                  <%  }
                     } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% include ../partials/footer.ejs %>