<!DOCTYPE html>
<html>
<head>
<style>
.time {
	margin: 0px;
	padding: 4px;
	width: 100%;
	float: left;
}
.time_datls {
	margin: 0px;
	padding: 4px;
	width: 100%;
	float: left;
	text-align: right;
	line-height: 24px;
}
.time1 {
	margin: 0px;
	width: 100%;
	float: left;
	padding: 4px;
	font-size: 13px;
}	
body {
	font-family: arial;
	color: #999;
	box-sizing: border-box;
	padding: 40px 15px;
	width: 100%;
	max-width: 600px;
	margin: 0px auto;
	display: inline-block;
}
.rc h3 {
	color: #da6527;
	margin: 5px 0px;
	font-size: 31px;
	width: 100%;
	float: left;
}.rc h5 {
	color: #da6527;
	margin: 5px 0px;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	float: left;
}
.rc h4 {
	color: #da6527;
	margin: 5px 0px;
	font-size: 16px;
	width: 100%;
	float: left;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 12px 0px;
	font-weight: normal;
}
.rc h4 span {
	float: right;
}
.rc h5 span {
	float: right;
	font-weight:bold;
}
.time span {
	float: left;
	margin-right: 30px;
}
.rc h3 img {
	float: right;
	width: 50px;
}
.price {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
	line-height: 24px;
}
.price span {
	float: right;
}
.line {
	float: left;
	width: 100%;
	height: 1px;
	background: #333;
	margin: 8px 0px;
}
</style>
</head>

<body class="rc">
<p class="time"><%= response.header_time%> <span> <%= response.header_date%></span>   </p>
<h3> <%= response.venueDetail.name%> <img src="user4.png" ></h3> 
<p class="time1">Phone: <%= response.venueDetail.phone%>   </p>
<p class="time1">Fax: <%= response.venueDetail.fax%></p>
<p class="time1">ABN: <%= response.venueDetail.abn%>   </p>
<p class="time1">Reciept#: <%= response.venueDetail.receipt_no%>   </p>
<h5>Main</h5>
<h4>Tab Duration  <span>  <%= response.tab_duration%></span> </h4>
<h5>Rounds <span> <%= response.rounds.length%></span> </h5>
<% for(var i=0; i < response.rounds.length; i++) { 

	let date = new Date(response.rounds[i].createdAt*1000);

    let hours = date.getHours();
    let minutes = date.getMinutes();
    let seconds = date.getSeconds();

	if(response.rounds[i].round == 1){ %>

		<h5><%= response.rounds[i].round %>st <span> <%= date.toLocaleTimeString(undefined, {
			hour: '2-digit',
			minute: '2-digit'
		})%></span> </h5>
	<% } 
	else if(response.rounds[i].round == 2){ %>

		<h5><%= response.rounds[i].round %>nd <span> <%= date.toLocaleTimeString(undefined, {
			hour: '2-digit',
			minute: '2-digit'
		})%></span> </h5>
	<% } 
	else if(response.rounds[i].round == 3){ %>

		<h5><%= response.rounds[i].round %>rd <span><%= date.toLocaleTimeString(undefined, {
			hour: '2-digit',
			minute: '2-digit'
		})%></span> </h5>
	<% } 
	else { %>

		<h5><%= response.rounds[i].round %>th <span> <%= date.toLocaleTimeString(undefined, {
			hour: '2-digit',
			minute: '2-digit'
		})%></span> </h5>
	<% } %>

<p class="time_datls"> <% response.rounds[i].orderDetails.forEach((product)=>{ %>

	<%=  product.product.name  %>(<%= product.product.quantity %>)<br>
	
<% }) %>	   

</p>
<% } %>

<div class="line "> </div>
<h5>Items <span> <%= response.totalDrinks %></span> </h5>
<% response.quantities.forEach((quantity)=>{ %>
	<p class="price"><%= quantity.quantity_total + ' '+quantity.product.name %> (<%= quantity.product.quantity%>) <span> $<%= quantity.total_price%></span>   </p>

<% });%>

<div class="line "> </div>
<h5>Sub Total  <span> $<%= response.subTotal%></span> </h5>
<h5>TBM Service  <span> $<%= response.tbmPrice%></span> </h5>
<h5> Total (gst incl)  <span> $<%= response.totalPrice%></span> </h5>

</body>
</html>