<%- include ../partials/header.ejs %>
<%- include ../partials/sidebar.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/flash.ejs %>
<style>
  img#margnn {
    height: 200px;
    width: 200px;
    margin-top: 25px;
  }

  div#ordr_divv {
    float: right;
    margin-top: 40px;
  }

  b#usr {
    float: left;
    padding: 15px;
  }

  a:hover {
    color: #fdba3e;
  }

  /* a { 
  color: #fdba3e;
} */

  /* .venue_head {
    text-align: center;
    float: left;
    width: 100%;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid #ddd;
    margin: 0 0 0;
    padding: 10px;
    border-bottom: 0;
} */
</style>
<div class="admin-dashone-data-table-area mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="sparkline8-list shadow-reset">
          <div class="sparkline8-hd">
            <div class="main-sparkline8-hd">
              <h1>Order Brands</h1>
              <div class="sparkline8-outline-icon">
                <!-- <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                      <span><i class="fa fa-wrench"></i></span>
                                      <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span> -->
              </div>
            </div>
          </div>

          <div class="sparkline8-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
              <div id="toolbar">
                <!-- <select class="form-control">
                                          <option value="">Export Basic</option>
                                          <option value="all">Export All</option>
                                          <option value="selected">Export Selected</option>
                                      </select> -->
              </div>
              <ol class="breadcrumb bc-colored m-b-30 bg-warning">
                <li class="breadcrumb-item"><a href="sales_venues">Venues</a></li>
                <li class="breadcrumb-item"><a
                    href="order_dates?venue_id=<%=terminal.venue.id %>&terminal_id=<%= terminal.id%>">Order Dates</a>
                </li>
                <li class="breadcrumb-item active">Order brands</li>
              </ol>
              <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true"
                data-show-pagination-switch="true" data-show-refresh="false" data-key-events="true"
                data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId"
                data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                <thead>
                  <tr>


                    <!-- <th data-field="Name" data-editable="false">Name</th> -->
                    <!-- <%
                          let date = new Date(orders[0].timestamp*1000);

                          var months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]; 

                          let day = date.getDate();
                          let month = months[date.getMonth()];
                          let year = date.getFullYear();
                          let fullDate =  day+' '+month+' '+year;
                          %> -->
                    <th data-field="product_name" data-editable="false">
                      <%= terminal.venue.name+' - '+terminal.name+' : '+dateString%></th>

                  </tr>
                </thead>
                <tbody>
                  <% 
                                          if(orders && orders.length>0){
                                          for(var i in orders){
                                          %>
                  <!-- <td></td> -->
                  <tr>
                    <td align="right">
                      <% if(orders[i].product.dataValues.brand_id != 0 ){ %>
                      <%if(orders[i].product.dataValues.brand!=null){%>
                      <a href="sales_by_brand?venue_id=<%=terminal.venue.id %>&terminal_id=<%= terminal.id%>&date=<%= dateString  %>&brand=<%= orders[i].product.dataValues.brand_id %>"
                        style="display:block; width:100%;"> <%= orders[i].product.dataValues.brand.name %>
                      </a>
                      <%  } %>
                      <%  } %>

                    </td>
                  </tr>
                  <%  }   } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purchase Detail</h4>
        </div>
        <div class="modal-body">
          <table class="table table-responsive" cellpadding="2">
            <thead>

              <tr>
                <th style="text-align: center;" colspan="6"></th>

              </tr>
              <tr>
                <th style="text-align: center;" colspan="6"> - <span id="terminalName"></span></th>

              </tr>
              <tr>
                <%
                        todayDate = new Date(); 
                        var months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]; %>
                <th style="text-align: center;" colspan="6">Date:
                  <%= todayDate.getDate()+' '+months[todayDate.getMonth()]+' '+todayDate.getFullYear() %></th>

              </tr>
              <tr>
                <th style="text-align: center;" colspan="3"><span id="maleCustomerCount"></span> Male Customers</th>
                <th style="text-align: center;" colspan="3"><span id="femaleCustomerCount"></span> Female Customers</th>

              </tr>
              <tr>
                <th>Age </th>
                <th>Area/zip code </th>
                <th>time </th>
                <th>Age </th>
                <th>Area/zip code </th>
                <th>time </th>

              </tr>
            </thead>
            <tbody id="tableBody">




            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // $('.venueName').on('click',function(e){
    //   e.preventDefault();
    //   let venue_id = $(this).attr('id');
    //   let terminal_id = $(this).attr('terminal_id');
    //   let terminalName = $(this).attr('terminal_name');
    //   let venueName = $(this).attr('venueName');
    //   $.ajax({
    //     type:'GET',
    //     url:'/getTerminalOrdersBydate?venue_id='+venue_id+'&terminal_id='+terminal_id,
    //     data:{

    //     },
    //     success:function(data){
    //       let html = '';

    //       $('#table').html(html);
    //     }
    //   })
    // });
  });


  $('.terminalPurchase').on('click', function (e) {
    e.preventDefault();
    let terminal_id = $(this).attr('terminal_id');
    let product_id = $('#product').attr('product_id');

    $.ajax({
      type: 'get',
      url: '/terminalProductPurchaseHistory?product_id=' + product_id + '&terminal_id=' + terminal_id,
      data: {

      },

      success: function (data) {

        // let arr = [];
        // arr.push(data);
        console.log(data);
        var html = "";
        $('#terminalName').text(data.terminalName);
        $('#maleCustomerCount').text(data['maleCustomers'].length);
        $('#femaleCustomerCount').text(data['femaleCustomers'].length);

        let max = Math.max(data['maleCustomers'].length, data['femaleCustomers'].length);

        for (let i = 0; i < max; i++) {
          html += "<tr>";
          if (i < data['maleCustomers'].length) {
            html += "<td>";
            html += data['maleCustomers'][i].dob;
            html += "</td>";
            html += "<td>";
            html += data['maleCustomers'][i].post_code;
            html += "</td>";
            html += "<td>";
            html += data['maleCustomers'][i].date;
            html += "</td>";
          } else {
            html += '<td></td>';
            html += '<td></td>';
            html += '<td></td>';
          }
          if (i < data['femaleCustomers'].length) {
            html += "<td>";
            html += data['femaleCustomers'][i].dob;
            html += "</td>";
            html += "<td>";
            html += data['femaleCustomers'][i].post_code;
            html += "</td>";
            html += "<td>";
            html += data['femaleCustomers'][i].date;
            html += "</td>";
          } else {
            html += '<td></td>';
            html += '<td></td>';
            html += '<td></td>';
          }
          html += "</tr>";
        }

        //  console.log(max, 'max');

        //  data.forEach(element => {
        //    html += "<tr>";

        //     if(element.userDetail.gender == 1){

        //       html += "<td>"+ element.userDetail.dob +"</td>";
        //       html += "<td>"+ element.userDetail.dob +"</td>";
        //       html += "<td>"+ element.userDetail.dob +"</td>";
        //     }
        //     else{
        //       html += "<td></td>";
        //       html += "<td></td>";
        //       html += "<td></td>";

        //     }

        //    if(element.userDetail.gender == 2){

        //      html += "<td>"+ element.userDetail.dob +"</td>";
        //      html += "<td>"+ element.userDetail.dob +"</td>";
        //      html += "<td>"+ element.userDetail.dob +"</td>";
        //    }
        //    else{
        //      html += "<td></td>";
        //      html += "<td></td>";
        //      html += "<td></td>";

        //    }
        //    html += "</tr>";


        //   });
        console.log(html);
        $('#tableBody').html(html);


      }
    })
  });

</script>

<% include ../partials/footer.ejs %>