<%- include ../partials/header.ejs %>
<%- include ../partials/header.ejs %>
<%- include ../partials/sidebar.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/flash.ejs %>

<br>

<% if(msg && msg!=''){%>
<div class="alert alert-success col-xs-8" id="msg">
    <span>
        <%=msg ? msg: ''%>
    </span>
</div>
<% }%>

<div class="admin-dashone-data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Stores</h1>
                            <div class="sparkline8-outline-icon">
                                <!-- <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span> -->
                                <a href="/addstore" class="btn btn-white btn-xs">+ Add Store</a>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <!-- <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select> -->
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="ID">ID</th>
                                        <th data-field="Name" data-editable="false">Name</th>
                                        <th data-field="Email" data-editable="false">Email</th>
                                        <th data-field="Phone" data-editable="false">Phone</th>
                                        <th data-field="Date" data-editable="false">Register Date</th>
                                        <th data-field="Status">Status</th>

                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%
                                    var x=0;
                                    stores.forEach((data, index) => {
                                      store=data.dataValues;
                                      var formattedDate=dateTime(  store.createdAt, 'fullDate');
                                      x++;
                                      %>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <%= x %>
                                        </td>

                                        <td class="">
                                            <%= store.first_name %>
                                        </td>
                                        <td class="">
                                            <%= store.email %>
                                        </td>
                                        <!-- <td class="datatable-ct"><span class="pie">1/6</span>
                                        </td> -->
                                        <td>
                                            <%= store.phone %>
                                        </td>
                                        <td>
                                            <%= formattedDate %>
                                        </td>
                                        <td>

                                            <label class="switch">
                                                <input id="<%= store.id; %>" data-model="Store" type="checkbox" class="change_status"
                                                    <%=store.status==1 ? 'checked' :'' %> >
                                                <span class="slider round"></span>
                                            </label>
                                            <!-- <div class="onoffswitch">
                                          		<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                          		<label class="onoffswitch-label" for="example">
                                          		<span class="onoffswitch-inner"></span>
                                          		<span class="onoffswitch-switch"></span>
                                          	</label>
                                          	</div> -->
                                        </td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <a href="/viewstore?store_id=<%= store.id;%>" class="btn btn-white btn-xs">View</a>
                                            </div>
                                            <div class="btn-group project-list-action">

                                                <a href="/editstore?store_id=<%= store.id;%>" class="btn btn-white btn-xs">Edit</a>


                                            </div>

                                            <div class="btn-group project-list-ad-rd">
                                                <a class="Danger danger-color btn btn-white btn-xs delete_row" data_id="<%=store.id;  %>"
                                                    table_model="Store" style="background: red;" data-toggle="modal"
                                                    data-target="#DangerModalalert">Delete</a>

                                            </div>

                                        </td>
                                    </tr>



                                    <% }) %>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer.ejs %>